<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bubble">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/bubble"
        android:label="bubble"
        android:roundIcon="@drawable/bubble"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"> 
        <!-- FIX: Changed theme to an AppCompat theme -->

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <!-- NEW: Updated AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2223803405403727~3540804071"/>


        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registering the new Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/Theme.AppCompat.Light" /> 
        <!-- FIX: Changed theme to an AppCompat theme -->

        <!-- Registering the new Help Activity -->
        <activity
            android:name=".HelpActivity"
            android:label="Help"
            android:theme="@style/Theme.AppCompat.Light" /> 
        <!-- FIX: Changed theme to an AppCompat theme -->

        <service
            android:name=".FloatingTranslatorService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>